@import './reset'
@import './mixins'

body
  min-width 980px

*
  box-sizing border-box
  font-family 'Open Sans', sans-serif


@import './blocks/link'
@import './blocks/breadcrumbs'
@import './blocks/fullscreen'
@import './blocks/top-menu'
@import './blocks/inner-top-menu'
@import './blocks/intro'
@import './blocks/preview'
@import './blocks/shortcut'
@import './blocks/science'
@import './blocks/to-action'
@import './blocks/content'
@import './blocks/pharmacy'
@import './blocks/footer'
