
@import './reset'

*
  box-sizing border-box
  font-family 'Open Sans', sans-serif


@import './blocks/fullscreen'
@import './blocks/top-menu'
@import './blocks/intro'
@import './blocks/preview'
@import './blocks/to-action'
@import './blocks/footer'
