color_red = #df1e3a
color_red_hover = #b5021c

color_text = #464646

bold-text()
  font-weight bold
  text-transform uppercase
  -webkit-font-smoothing antialiased
  
centered_flex()
  display flex
  flex-direction row
  justify-content center
  align-items center
  min-width 980px
  
link()
  text-decoration none
  color color_red
  transition color .15s ease-in
  links()
    
  &:hover
    color color_red_hover
    transition color .3s ease-in
