links()
  font-size 16px
  line-height 0
  text-decoration none
  bold-text()

.inner-top-menu
  display block
  padding 20px 0 17px
  background #f2f5fb
  font-size 0
  border-bottom 1px solid #DEE8FA
  box-shadow 0px 6px 42px 14px rgba(222,232,250,0.6)
  
  &__logo
    display block
    float left
    color #464646
    links()
    
  &__links 
    float right
    font-size 0
    
  &__item
    display inline-block
    margin-right 20px
    text-decoration none
    color color_red
    transition color .15s ease-in
    links()
    
    &:last-child
      margin-right 0
      
    &:hover
      color color_red_hover
      transition color .3s ease-in
      
    &_active
      color color_red_hover
      cursor default
    
  &:after, &:before
    content ''
    display table
    clear both