.intro
  
  &__title
    bold-text()
    font-size 100px
    line-height 150px
    color #fff
    margin-bottom 50px

  
  &__subtitle
    text-transform uppercase  
    font-size 24px
    line-height 45px
    color #fff
    
  &__button
    bold-text()
    font-size 24px
    line-height 0
    color color_red
    text-decoration none
    display inline-block
    padding 36px
    border 3px solid rgba(255, 255, 255, .9)
    background rgba(255, 255, 255, .6)
    border-radius 35px
    transition color, box-shadow .15s ease-in
    box-shadow inset 0px -2px 22px -5px rgba(1,1,1,0)

    
    &:hover
      color color_red_hover
      transition color, box-shadow .3s ease-in
      box-shadow inset 0px -2px 22px -5px rgba(1,1,1,0.81)



