.pharmacies
  margin-top 70px
  centered_flex()
  
  &__col
    width 33.3%
    
    &:after
      content ''
      display block
      width 60%
      height 2px
      margin 0
      background-color color_red    
  
    
    