.preview
  centered_flex()
  align-items flex-start
  margin 50px 0 10px
                      
  &__item
    width 33.3%
    text-align center
    cursor pointer
    text-decoration none
    
    &:hover
      .svg
        width 87px
        transition width .3s ease-in

      .check
        fill color_red_hover
        transition fill .3s ease-in
        
      & .preview__title
        &:after
          background-color color_red_hover
          width 50%
          transition background-color, width .3s ease-in
    
  &__title
    font-size 18px
    line-height 27px
    text-transform uppercase
    color color_text
    margin-top 20px
    
    &:after
      content ''
      display block
      width 20%
      height 2px
      margin 12px auto 12px
      background-color color_red
      transition background-color, width .15s ease-in
    
  &__description
    font-size 14px
    line-height 20px
    color color_text
    
.svg
  width 67px
  height 100px
  transition width .15s ease-in
  
  &_last
    width 52px

.check
  fill color_red
  transition fill .15s ease-in
