.science
  margin 70px 33px
  font-size 0
  
  &__all
    link()
    font-size 18px
    line-height 27px
    margin-top 30px
    display block
  
  &__title
    bold-text()
    font-size 30px
    line-height 30px
    color color_red
    margin-bottom 30px
    display block
    
  &__item
    display inline-block
    vertical-align top
    width 30%
    margin-right 5%
    text-align center
    text-decoration none
    
    &:nth-child(3n + 1)
      margin-right 0
      
    &:hover        
      & .science__title
        &:after
          background-color color_red_hover
          width 50%
          transition background-color, width .3s ease-in
    
  &__cover
    height 300px
    background-size cover
    background-position left top
    background-repeat no-repeat
    
  &__title
    font-size 18px
    line-height 27px
    text-transform uppercase
    color color_text
    margin-top 20px
    margin-bottom 10px
    font-weight normal
    
    &:after
      content ''
      display block
      width 20%
      height 2px
      margin 12px auto 12px
      background-color color_red
      transition background-color, width .15s ease-in 
      
  &__description
    font-size 16px
    line-height 24px
    color color_text
    