.shortcut
  margin 70px 33px
  
  &:after
    content ''
    display table
    clear both
  
  &__title
    bold-text()
    font-size 30px
    line-height 30px
    color color_red
    margin-bottom 30px
    display block
    
  &__text
    float left
    width calc(100% - 300px)
    color color_text
    font-size: 16px;
    line-height: 24px;

    
  &__icon
    position relative
    width 180px
    height 180px
    border-radius 90px
    background rgba(222,232,250,0.7)
    box-shadow 0px 6px 42px 14px rgba(222,232,250,0.6)
    float right
    
.shortcut-svg
  position absolute
  width 100px
  height 100px
  top 50%
  left 50%
  margin-left -50px
  margin-top -50px
  opacity 0.5