.to-action
  display flex
  flex-direction row
  justify-content center
  align-items center
  margin-top 70px
  background #fcfdfe
  
  &__read
    width 50%
    background #f2f5fb
    padding 12px 33px 0px
    
  &__buy
    width 50%
    padding-left 80px
    text-decoration none
    color #df1e3a
    text-transform uppercase
    font-weight bold
    -webkit-font-smoothing antialiased
    font-size 30px
    line-height 45px
    
  &__title
    font-size 30px
    line-height 45px
    font-weight bold
    color #df1e3a
    -webkit-font-smoothing antialiased
    margin-bottom 30px
    text-align center
    text-transform uppercase
    
  &__item
    font-size 14px
    line-height 20px
    margin-bottom 30px