.top-menu
  position fixed
  // text-align center
  // font-size 0
  left 0
  top 0
  width 100%
  padding-top 30px
  padding-bottom 30px
  background rgba(255, 255, 255, .95)
  z-index 5555
  
  display flex
  flex-direction row
  justify-content center
  
  &__item
    font-size 24px
    line-height 0
    font-weight bold
    // margin-right 40px
    text-transform uppercase
    text-decoration none
    color #df1e3a
    // display inline-block
    -webkit-font-smoothing: antialiased;
    width 33.3%
    text-align center
    
    &:last-child
      margin-right 0
  