.fullscreen
  min-width 100vw
  min-height 100vh
  padding 130px 40px 40px
  //background linear-gradient(90deg, #83a4d4 10%, #5E2D79 90%)
  background-size cover
  background-position center center
  background-repeat no-repeat
  display flex
  flex-direction column
  
  &__content
    flex-grow 1
    
  &__bottom
    text-align right
    height 78px